/*
 * This class is used for displaying the page in the editor.
 */
.page-content {
    background-color: #fafafa;
    color: #222;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
