<header class="header" {{ "" | styles: settings__font-family, settings__font-size, settings__background-color, settings__color }}>
    <div class="header-title" {{ "" | styles: settings__title__font-family, settings__title__font-size, settings__title__background-color, settings__title__color }}>
        {{ title }}
    </div>
</header>
