<header class="header" {{ "" | styles: settings__fontFamily, settings__fontSize, settings__backgroundColor, settings__color }}>
    <div class="header-title" {{ "" | styles: settings__title__fontFamily, settings__title__fontSize, settings__title__backgroundColor, settings__title__color }}>
        {{ title }}
    </div>
</header>
