html, body {
    height: 100vh;
}

body {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0;
}

.data-input {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: inherit;
    outline: none;
    padding: inherit;
    text-align: inherit;
    text-transform: inherit;
}

.data-input:hover,
.data-input:active,
.data-input:focus {
    outline: none;
}

#data-border {
    display: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
}

#data-border.data-block {
    border: 1px solid lightblue;
}

#data-border.data-input {
    border: 1px solid orange;
}

#data-border.data-field {
    border: 1px solid lightgreen;
}

.data-block {
    position: relative;
}

.data-block-controls {
    display: none;
    margin: -10px 0 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.data-block-controls svg {
    pointer-events: none;
}

.data-block-button {
    background-color: lightblue;
    border: none;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    padding: 3px;
}

.data-block-button:hover {
    background-color: blue;
}

#drag-border {
    display: none;
    height: 3px;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
}

#drag-border.data-block {
    background-color: lightblue;
}

#drag-border.data-field {
    background-color: lightgreen;
}
