html, body {
    height: 100vh;
}

body {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 0;
}

.data-input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: inherit;
    outline: none;
    padding: inherit;
    text-align: inherit;
    text-transform: inherit;
}

.data-input:hover,
.data-input:active,
.data-input:focus {
    outline: none;
}

#data-border {
    border: 1px solid orange;
    display: none;
    pointer-events: none;
    position: absolute;
}

.data-block {
    position: relative;
}

.data-block-controls {
    display: none;
    margin: -10px 0 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.data-block-button {
    background-color: lightblue;
    border: none;
    border-radius: 50%;
    margin: 0 2px;
}

.data-block-button:hover {
    background-color: blue;
}

.chevron {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}
  
.chevron::before,
.chevron::after {
    background-color: white;
    position: absolute;
    width: 10px;
    height: 3px; /* chevron width */
    content: "";
}

.chevron.down::before,
.chevron.down::after {
    top: 9px;
}

.chevron.down::before {
    left: 2px;
    transform: rotate(45deg);
}

.chevron.down::after {
    right: 2px;
    transform: rotate(-45deg);
}

.chevron.up::before,
.chevron.up::after {
    bottom: 9px;
}

.chevron.up::before {
    left: 2px;
    transform: rotate(135deg);
}

.chevron.up::after {
    right: 2px;
    transform: rotate(-135deg);
}

.cross {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}

.cross::before,
.cross::after {
    background-color: white;
    position: absolute;
    width: 15px;
    height: 3px; /* cross width */
    top: 8px;
    left: 2.5px;
    content: "";
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}
